apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: vs-httpbin
spec:
  gateways:
  - httpbin
  hosts:
  - httpbin
  - ${APP_HOSTNAME}
  http:
  - route:
    - destination:
        host: httpbin
