apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: vs-httpbin
spec:
  gateways:
  - httpbin
  hosts:
  - httpbin
  - ${APP_HOSTNAME}
  http:
  - route:
    - destination:
        host: httpbin
---
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: vs-oauth2-proxy
spec:
  hosts:
  - oauth2
  http:
  - route:
    - destination:
        host: oauth2