apiVersion: security.istio.io/v1beta1
kind: RequestAuthentication
metadata:
  name: authn-istio-ingressgateway
spec:
  jwtRules:
  - forwardOriginalToken: true
    issuer: ${OIDC_ISSUER_URL}
    jwksUri: ${OIDC_JWKS_URI}
  selector:
    matchLabels:
      app: istio-ingressgateway
